.Header {
    font-family: 'Roboto';
    padding: 48px 18px;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: relative;
    overflow: hidden;
}

.lcontainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: left;
}

.title {
    font-weight: 800;
    font-size: clamp(24px, 7vw, 56px);
    line-height: 110%;
    color: #0f172a;
}

.para {
    font-weight: 400;
    font-size: clamp(16px, 6vw, 20px);
    line-height: 160%;
    color: #0F172A;
}

.link {
    font-weight: 500;
    font-size: clamp(16px, 6vw, 20px);
    line-height: 120%;
    letter-spacing: 0.03em;
    color: #2563eb;
}

.vector {
    position: absolute;
    left: 160px;
    bottom: -5px;
    z-index: 0;
    width: 115px;
}

.blob3 {
    z-index: 0;
    width: 400px;
    height: 488px;
    z-index: 0;
    position: relative;
    top: 0px;
    left: 0px;
}

.cards {
    display: flex;
    flex-direction: row;
    gap: 18px;
    z-index: 20;
    position: absolute;
    width: 550px;
    top: 420px;
    left: 30px;
}

.pic1 {
    display: flex;
    flex-direction: row;
    z-index: 20;
    position: absolute;
    top: 500px;
    left: 250px;
}

.avatar {
    display: none;
}

.pic2 {
    display: flex;
    flex-direction: row;
    z-index: 20;
    position: absolute;
    width: 340px;
    height: auto;
    bottom: 30px;
    left: 10px;
}

.pic3 {
    display: flex;
    flex-direction: row;
    z-index: 20;
    position: absolute;
    width: 270px;
    height: auto;
    bottom: 30px;
    left: 330px;
}

@media (min-width: 768px) {
    .Header {
        font-family: 'Roboto';
        padding: 80px;
        flex-direction: row;
        justify-content: space-between;
        gap: 80px;
        position: relative;
    }

    .lcontainer {
        width: 544px;
        height: auto;
        gap: 32px;
    }

    .vector {
        position: absolute;
        left: 300px;
        bottom: -9px;
        z-index: 0;
        width: 210px;
    }

    .blob3 {
        z-index: 0;
        width: 534px;
        height: 522px;
        z-index: 0;
        top: 0px;
        left: -20px;

    }

    .cards {
        gap: 18px;
        z-index: 20;
        position: absolute;
        width: 570px;
        top: 120px;
        left: 910px;
    }

    .pic1 {
        display: flex;
        flex-direction: row;
        z-index: 20;
        position: absolute;
        width: 266;
        top: 170px;
        left: 1130px;
    }

    .avatar {
        display: flex;
        flex-direction: row;
        z-index: 20;
        position: absolute;
        top: 230px;
        left: 1300px;
    }

    .pic2 {
        display: flex;
        flex-direction: row;
        z-index: 20;
        position: absolute;
        width: 340px;
        height: auto;
        bottom: 70px;
        left: 890px;
    }

    .pic3 {
        display: flex;
        flex-direction: row;
        z-index: 20;
        position: absolute;
        width: 270px;
        height: auto;
        bottom: 70px;
        left: 1210px;
    }
}