.Header {
    font-family: 'Roboto';
    padding: 80px;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.ucontainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.head {
    position: relative;
    z-index: 10;
}

.title {
    font-family: 'Roboto';
    font-weight: 800;
    font-size: clamp(24px, 6vw, 56px);
    line-height: 110%;
    color: #0f172a;
    text-align: center;
}

.para {
    font-weight: 400;
    font-size: clamp(16px, 4vw, 20px);
    line-height: 160%;
    color: #0F172A;
    text-align: center;
    z-index: 10;
}

.line {
    position: relative;
    display: inline-block;
}

.vector {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 0;
}

.blobs {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

.blobl {
    position: absolute;
    z-index: 0;
    left: -2%;
    width: 35%;
    height: auto;

}

.blobr {
    position: absolute;
    z-index: 0;
    left: 76%;
    top: -300px;
    width: 30%;
    height: auto;
}

.colimage {
    display: inline-block;
    position: relative;
}

.screen {
    border-radius: 20px;
    width: 1200px;
    height: auto;
    position: relative;
    z-index: 10;
}
.screenmb{
    display: none;
}

.icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 0px;
    bottom: -30px;
    overflow: hidden;
    width: 100%;
}

.icon .app {
    width: 64px;
    height: 64px;
}

.lines {
    position: relative;
    top: -30px;
    left: 185px;
    height: 50px;
}

@media (max-width: 763px) {
    .Header {
        background-color: white;
        padding: 48px 16px;
        gap: 5px;
    }

    .title {
        text-align: left;
    }

    .vector {
        position: absolute;
        bottom: -3px;
        height: 15px;
    }

    .para {
        text-align: left;
    }

    .screen{
        display: none;
    }
    .screenmb {
        width: 100%;
        height: auto;
        display: flex;
    }

    .blobl {
        left: -60px;
        top: 20px;
        width: 157px;
        height: 206px;

    }

    .blobr {
        left: 65%;
        top: -130px;
        width: 50%;
        height: 371px;
    }

    .lines {
        position: relative;
        top: -30px;
        left: 5px;
        height: 50px;
    }
    .colimage{
        display: block;
    }

    .icon {
        gap: 24px;
        overflow: visible;
        left: 0px;
        top: 74%;
    }

    .icon .app {
        width: 64px;
    }
}